body{
	overflow:auto;
	}
h2{
	font-size:24px;
	margin-bottom:20px;
	}
	
#full {

	background: url(../images/logo.png) center top no-repeat;

	position:absolute;

	left:0;

	top:0;

	right:0;

	bottom:0;

	text-align:center;

}

#log_container {

	position:absolute;

	left:0;

	right:0;

	top:115px;

}

.changepass_box { 

	margin-left:auto;

	margin-right:auto;

	padding: 10px 10px;

	width: 500px;

	border-radius: 10px;

	-webkit-border-radius: 10px;

	-moz-border-radius: 10px;

	border:1px solid #CCC;

	background: #fff;
	
	box-shadow: 0 0 3px #555;
	
	-webkit-box-shadow: 0 0 3px #555;
	
	-moz-box-shadow: 0 0 3px #555;

}

.changepass_box p{
	
	padding:20px; 
	
	border:3px solid red;
	
	border-radius: 10px;

	-webkit-border-radius: 10px;

	-moz-border-radius: 10px;
	
	line-height:1.5em;
	
	font-size:1.2em;
	
}

.changepass_box table { 

	margin-left:auto;
	
	margin-right:auto;

}

.logbox {

	margin-left:auto;

	margin-right:auto;

	padding: 10px 10px;

	width:400px;

	border-radius: 10px;

	-webkit-border-radius: 10px;

	-moz-border-radius: 10px;

	border:1px solid #CCC;

	background: #fff;

	box-shadow: 0 0 3px #555;
	
	-webkit-box-shadow: 0 0 3px #555;
	
	-moz-box-shadow: 0 0 3px #555;

}

.logbox h1 {

	font-size:15px !important;

	height:15px;

	overflow:hidden;

}

.logbox form#pass { /*display:none;*/ }

form#pass input {

	padding:10px 20px;

	margin-top:10px;

	width:50%;

	background:#f6fedc;

	border:1px solid #CCC;

	border-radius: 10px;

	-webkit-border-radius: 10px;

	-moz-border-radius: 10px;
	
	width:200px;

}

form#pass input[type=submit] {

	padding:10px 20px;

	background:url(../images/submit_bg.png) left center no-repeat;

	width:240px;

	border:1px solid #CCC;

	border-radius: 10px;

	-webkit-border-radius: 10px;

	-moz-border-radius: 10px;

}

form#pass input[type=submit]:hover {
	
	background:url(../images/submit_bg_on.png) left center no-repeat;
	
}

form#pass br { clear:both; }


#forgotpass  {

	margin-bottom:20px;

	clear:both;

}

#forgotpass  input {

	padding:10px 20px;

	margin-top:10px;

	float:left;

	width:50%;

	background:#f6fedc;

	border:1px solid #CCC;

	border-radius: 10px;

	-webkit-border-radius: 10px;

	-moz-border-radius: 10px;
	
	width:200px;

}

#forgotpass  select {

	padding:10px 20px;

	margin-top:10px;

	float:left;

	width:55%;

	background:#fff;

	border:1px solid #CCC;

	border-radius: 10px;

	-webkit-border-radius: 10px;

	-moz-border-radius: 10px;

}

#forgotpass  input[type=text] { }

#forgotpass  input[type=checkbox] { }

#forgotpass  input[type=submit] {

	padding:10px 20px;

	background:url(../images/submit_bg.png) left center no-repeat;

	float:left;

	border:1px solid #CCC;

	border-radius: 10px;

	-webkit-border-radius: 10px;

	-moz-border-radius: 10px;
	 
	 width:100%;
	
	

}

#forgotpass  input[type=submit]:hover { background:url(../images/submit_bg_on.png) left center no-repeat; }

#forgotpass  label {

	margin:10px 10px 0 0;

	font-size:12px;

	padding:13px 15px 12px 10px;

	float:right;

	text-align:right;

	background: #EBEBEB;

	font-size:15px;

	color: #333;

	font-family:Georgia, Geneva, sans-serif;

	border-radius: 10px;

	-webkit-border-radius: 10px;

	-moz-border-radius: 10px;
	
	width:200px;

}

#forgotpass  br { clear:both; }

pass {  height:100px; }

passfield { }

.bad-pass {

    display: none;

    color: red;
}

.bad-verif {

	color: red;

	text-align:center;

}