@charset "utf-8";/* CSS reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
html {/*overflow:hidden;*/ }/* IE7 Hack */
:focus { outline: 0; }
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul { list-style: none; }
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }
#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}
#tiptip_holder.tip_top { padding-bottom: 5px; }
#tiptip_holder.tip_bottom { padding-top: 5px; }
#tiptip_holder.tip_right { padding-left: 5px; }
#tiptip_holder.tip_left { padding-right: 5px; }
#tiptip_content {
	font-size: 11px;
	color: #fff;
	text-shadow: 0 0 2px #000;
	padding: 4px 8px;
	border: 1px solid rgba(255, 255, 255, 0.25);
	background-color: rgb(25,25,25);
	background-color: rgba(25, 25, 25, 0.92);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px #555;
	-webkit-box-shadow: 0 0 3px #555;
	-moz-box-shadow: 0 0 3px #555;
}
#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}
#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #fff;
	border-top-color: rgba(255, 255, 255, 0.35);
}
#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #fff;
	border-bottom-color: rgba(255, 255, 255, 0.35);
}
#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #fff;
	border-right-color: rgba(255, 255, 255, 0.35);
}
#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #fff;
	border-left-color: rgba(255, 255, 255, 0.35);
}
#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(25,25,25);
	border-top-color: rgba(25, 25, 25, 0.92);
}
#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(25,25,25);
	border-bottom-color: rgba(25, 25, 25, 0.92);
}
#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(25,25,25);
	border-right-color: rgba(25, 25, 25, 0.92);
}
#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(25,25,25);
	border-left-color: rgba(25, 25, 25, 0.92);
}/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {
#tiptip_content {
padding: 4px 8px 5px 8px;
background-color: rgba(45, 45, 45, 0.88);
}
#tiptip_holder.tip_bottom #tiptip_arrow_inner {
border-bottom-color: rgba(45, 45, 45, 0.88);
}
#tiptip_holder.tip_top #tiptip_arrow_inner {
border-top-color: rgba(20, 20, 20, 0.92);
}
}
body {
	font-family:Verdana, Geneva, sans-serif;
	font-size: 12px;
	color:#333; 
	height:100%;
	max-height:100%;
	/*overflow:hidden;*/
	padding:0;
	margin:0;
	border:0;
}
h1 {
	font-size:36px;
	color:#999
}
h2 {
	font-size:20px;
	color:#666
}
h3 { }
hr { }
table { }
tr { }
td { }
.typo { }
a, a:link, a:visited {
	text-decoration:none;
	color:#999;
}
a:hover { color:red; }
.clear { clear:both; }
div#phyl {
	display: none;
	position: absolute;
	padding: 10px;
	left: 5px;
	font-size: 0.8em;
	background-color: white;
	border: 1px solid #999;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	z-index: 9999
}
div#phyl #phyl_p {
	position: absolute;
	top: 29px;
	left: 10px
}
body {
	background:#fff;
	background: transparent url(../images/bg1.png) left top repeat-x;
}
#wrap {
	margin:0;
	width:100%;
}
#header { }
#header_1_1 {
	position:absolute;
	left:10px;
	top:5px;
}
#header_1_2, #header_1_3 {
	position:absolute;
	right:10px;
	top:5px;
	z-index:102;
}
#header_2 {
	position:absolute;
	right:0px;
	left:275px;
	top:0px;
	height:45px;
	z-index:101;
	text-align:center;
}
#sections {
	margin:auto;
	width:480px;
	padding:0px;
}
.button img {
	width:44px;
	height:44px;
}
.button {
	width:71px;
	height:44px;
	margin: 0px 0px 0px 0px;
	float:left;
}
.on { background:transparent url(../images/tab_on.png) left top no-repeat !important }/* end Propriétés Générales *//**CONTENT*/
.center {
	margin:auto;
	text-align:center;
}
#explo {
	width:235px;
	overflow:hidden;
	position:absolute;
	left:0px;
	top: 88px;
	bottom:5px;
	z-index:4;
}
#handle {
	position:absolute;
	left:235px;
	top:88px;
	bottom:5px;
	width:25px;
	background: url(../images/corner.png) no-repeat left bottom;
	z-index:8;
}
#handle_x {
	position:absolute;
	left:0;
	top:0px;
	width:25px;
	height:25px;
	background:url(../images/corner_x.png) no-repeat;
	z-index:9;
}
#fluid {
	position:absolute;
	top: 88px;
	left:276px;
	bottom:5px;
	z-index:2;
	right:5px; /*border:1px solid black; */
	background-color: #FFF;
}
#detail {
	position:relative;
	top:0px; /*border:1px solid #CCC;*/
	bottom:20px;
	z-index:3;
	height:100%
}
.accordeon {
	height:30px;
	border:1px solid #CCC;
	padding:10px 0px 0px 15px;
	background: url(../images/grad_1.png) repeat-x;
}
.open { border-bottom:none !important }
.accordeon h2 { float:left; }
#orderby {
	float:right;
	cursor:pointer;
	padding-right:10px;
}
#window {
	position:absolute;
	z-index:4;
	bottom:0px;
	top:167px;
	right:0px;
	text-align:center;
	padding:10px;
	background:white;
	clear:both;
	overflow: -moz-scrollbars-vertical;
	overflow-y: scroll;
	border:1px solid #ccc;
	border-right:none;
}
#include {
	height:30px;
	overflow:hidden;
	clear: both;
}
#command { height:50px; }
#command img {
	border:none;
	margin:none;
	cursor:pointer;
}
#orderby ul li { float:left; }
#orderby img { padding:2px 0px; }
#orderby .selected img {
	border:2px solid red;
	padding:0px;
}
#message { display:none }
.alert {
	background: #FEC2C9;
	padding:5px;
}
.info {
	background:#C2FFBF;
	padding:5px;
}/**TITRES H1 NAVBAR */
.titre {
	width:200px;
	height:52px;
	float:left;
}/*LISTS*/
#options {
	position: absolute;
	height: 100px;
	width: 100px;
	top: 45px;
	left: 0px;
	right: 0px;
	padding-left: 10px;
	z-index: 10;
}
#options ul {
	margin:0;
	padding:0;
	list-style:none;
	margin:auto;
}/*#options ul li {float:left;padding:10px;margin-right:10px;margin-bottom:10px;background:#BABABA;color:white;-moz-border-radius :5px;cusor:pointer;font-variant:small-caps;}#options ul li a:link, #options ul li a {text-decoration:none;color:white;}#options ul li a:hover {text-decoration:none;color:white;}#options ul li:hover { background:#CACACA }#options ul li.active {float:left;padding:10px;padding-bottom:16px;margin-bottom:none;margin-right:10px;background:white;-moz-border-radius :5px 5px 0 0;border:1px solid #BABABA;border-bottom:none;cursor:default;}#options ul li.active a, #options ul li.active a:link { color:#BABABA !important; }*/
#mosa { }
#mosa img {
	width:30px;
	height:30px;
	float:left;
	border:1px solid #999;
	margin: 5px;
	padding: 5px;
}
#mosa img.selected {
	width:170px;
	height:170px;
	float:left;
	margin:auto;
	border:none;
	background:url(../images/bg_covers.png) no-repeat;
}
#mosa hr {
	height:1px;
	color:#FFF;
	width:100%;
	clear:both;
}
#list { }
#list ul li {
	margin: 2px 0px 2px 0px;
	border-bottom: 1px solid #FcFcFc;
	width:100%;
	float:left;
}
#list ul li a, #list ul li a:link, #list ul li a:visited {
	color:#666;
	text-decoration:none;
}
#list img.selected {
	margin: 5px;
	padding: 5px;
	width:170px;
	height:170px;
	float:left;
	margin:auto;
	border:none;
	background:url(../images/bg_covers.png) no-repeat;
}/*FOOTER*/
#footer {
	position:absolute;
	width:100%;
	height:1px;
	bottom:0px;
	background:black;
	z-index:5px;
}
@charset "utf-8";/* CSS reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}
:focus { outline: 0; }
body {
	line-height: 1;
	color: black;
	background: white;
}
ol, ul { list-style: none; }
table {
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	text-align: left;
	font-weight: normal;
}
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }/* END Meyerweb Css reset*//* TipTip CSS - Version 1.2 */
#tiptip_holder {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 99999;
}
#tiptip_holder.tip_top { padding-bottom: 5px; }
#tiptip_holder.tip_bottom { padding-top: 5px; }
#tiptip_holder.tip_right { padding-left: 5px; }
#tiptip_holder.tip_left { padding-right: 5px; }
#tiptip_content {
	font-size: 11px;
	color: #fff;
	text-shadow: 0 0 2px #000;
	padding: 4px 8px;
	border: 1px solid rgba(255, 255, 255, 0.25);
	background-color: rgb(25,25,25);
	background-color: rgba(25, 25, 25, 0.92);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#000));
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px #555;
	-webkit-box-shadow: 0 0 3px #555;
	-moz-box-shadow: 0 0 3px #555;
}
#tiptip_arrow, #tiptip_arrow_inner {
	position: absolute;
	border-color: transparent;
	border-style: solid;
	border-width: 6px;
	height: 0;
	width: 0;
}
#tiptip_holder.tip_top #tiptip_arrow {
	border-top-color: #fff;
	border-top-color: rgba(255, 255, 255, 0.35);
}
#tiptip_holder.tip_bottom #tiptip_arrow {
	border-bottom-color: #fff;
	border-bottom-color: rgba(255, 255, 255, 0.35);
}
#tiptip_holder.tip_right #tiptip_arrow {
	border-right-color: #fff;
	border-right-color: rgba(255, 255, 255, 0.35);
}
#tiptip_holder.tip_left #tiptip_arrow {
	border-left-color: #fff;
	border-left-color: rgba(255, 255, 255, 0.35);
}
#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(25,25,25);
	border-top-color: rgba(25, 25, 25, 0.92);
}
#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(25,25,25);
	border-bottom-color: rgba(25, 25, 25, 0.92);
}
#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(25,25,25);
	border-right-color: rgba(25, 25, 25, 0.92);
}
#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(25,25,25);
	border-left-color: rgba(25, 25, 25, 0.92);
}/* Webkit Hacks  */
@media screen and (-webkit-min-device-pixel-ratio:0) {
#tiptip_content {
padding: 4px 8px 5px 8px;
background-color: rgba(45, 45, 45, 0.88);
}
#tiptip_holder.tip_bottom #tiptip_arrow_inner {
border-bottom-color: rgba(45, 45, 45, 0.88);
}
#tiptip_holder.tip_top #tiptip_arrow_inner {
border-top-color: rgba(20, 20, 20, 0.92);
}
}/* End Tooltip *//* Propriétés Générales */
body {
	font-family:Verdana, Geneva, sans-serif;
	font-size: 12px;
	color:#333; /**/
	height:100%;
	max-height:100%;
	overflow:hidden;
	padding:0;
	margin:0;
	border:0;
}
h1 {
	font-size:36px;
	color:#999
}
h2 {
	font-size:20px;
	color:#666
}
h3 { }
hr { }
table { }
tr { }
td { }
.typo { }
a, a:link, a:visited {
	text-decoration:none;
	color:#999;
}
a:hover { color:red; }
.clear { clear:both; }
div#phyl {
	display: none;
	position: absolute;
	padding: 10px;
	left: 5px;
	font-size: 0.8em;
	background-color: white;
	border: 1px solid #999;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	z-index: 9999
}
div#phyl #phyl_p {
	position: absolute;
	top: 29px;
	left: 10px
}
body {
	background:#fff;
	background: transparent url(../images/bg1.png) left top repeat-x;
}
#wrap {
	margin:0;
	width:100%;
}
#header { }
#header_1_1 {
	position:absolute;
	left:10px;
	top:5px;
}
#header_1_2, #header_1_3 {
	position:absolute;
	right:10px;
	top:5px;
	z-index:102;
}
#header_2 {
	position:absolute;
	right:0px;
	left:275px;
	top:0px;
	height:45px;
	z-index:101;
	text-align:center;
}
#infopanel {
	display:none;
	background:white;
	padding:10px;
	width:100px;
	height:100px;
	position:absolute;
	right:2px;
	top:45px;
	z-index:999;
}
#deconn {
	width:40px;
	height:40px;
	position:absolute;
	right:2px;
	top:2px;
	z-index:999;
}
#sections {
	margin:auto;
	width:480px;
	padding:0px;
}
.button img {
	width:44px;
	height:44px;
}
.button {
	width:71px;
	height:44px;
	margin: 0px 0px 0px 0px;
	float:left;
}
.on { background:transparent url(../images/tab_on.png) left top no-repeat !important }/* end Propriétés Générales *//**CONTENT*/
.center {
	margin:auto;
	text-align:center;
}
#explo {
	width:235px;
	overflow:hidden;
	position:absolute;
	left:0px;
	top: 88px;
	bottom:5px;
	z-index:4;
}
#handle {
	position:absolute;
	left:235px;
	top:88px;
	bottom:5px;
	width:25px;
	background: url(../images/corner.png) no-repeat left bottom;
	z-index:8;
}
#handle_x {
	position:absolute;
	left:0;
	top:0px;
	width:25px;
	height:25px;
	background:url(../images/corner_x.png) no-repeat;
	z-index:9;
}
#detail {
	position:relative;
	top:0px; /*border:1px solid #CCC;*/
	bottom:20px;
	z-index:3;
	height:100%
}
.accordeon {
	height:30px;
	border:1px solid #CCC;
	padding:10px 0px 0px 15px;
	background: url(../images/grad_1.png) repeat-x;
}
.open { border-bottom:none !important }
.accordeon h2 { float:left; }
#orderby {
	float:right;
	cursor:pointer;
	padding-right:10px;
}
#window {
	position:absolute;
	z-index:4;
	bottom:0px;
	top:167px;
	right:0px;
	text-align:center;
	padding:10px;
	background:white;
	clear:both;
	overflow: -moz-scrollbars-vertical;
	overflow-y: scroll;
	border:1px solid #ccc;
	border-right:none;
}
#include {
	height:30px;
	overflow:hidden;
	clear: both;
}
#command { height:50px; }
#command img {
	border:none;
	margin:none;
	cursor:pointer;
}
#orderby ul li { float:left; }
#orderby img { padding:2px 0px; }
#orderby .selected img {
	border:2px solid red;
	padding:0px;
}
#message { display:none }
.alert {
	background: #FEC2C9;
	padding:5px;
}
.info {
	background:#C2FFBF;
	padding:5px;
}/**TITRES H1 NAVBAR */
.titre {
	width:200px;
	height:52px;
	float:left;
}/*LISTS*/
#options {
	position: absolute;
	height: 100px;
	width: 100px;
	top: 45px;
	left: 0px;
	right: 0px;
	padding-left: 10px;
	z-index: 10;
}
#options ul {
	margin:0;
	padding:0;
	list-style:none;
	margin:auto;
}/*#options ul li {float:left;padding:10px;margin-right:10px;margin-bottom:10px;background:#BABABA;color:white;-moz-border-radius :5px;cusor:pointer;font-variant:small-caps;}#options ul li a:link, #options ul li a {text-decoration:none;color:white;}#options ul li a:hover {text-decoration:none;color:white;}#options ul li:hover { background:#CACACA }#options ul li.active {float:left;padding:10px;padding-bottom:16px;margin-bottom:none;margin-right:10px;background:white;-moz-border-radius :5px 5px 0 0;border:1px solid #BABABA;border-bottom:none;cursor:default;}#options ul li.active a, #options ul li.active a:link { color:#BABABA !important; }*/
#mosa { }
#mosa img {
	width:30px;
	height:30px;
	float:left;
	border:1px solid #999;
	margin: 5px;
	padding: 5px;
}
#mosa img.selected {
	width:170px;
	height:170px;
	float:left;
	margin:auto;
	border:none;
	background:url(../images/bg_covers.png) no-repeat;
}
#mosa hr {
	height:1px;
	color:#FFF;
	width:100%;
	clear:both;
}
#list { }
#list ul li {
	margin: 2px 0px 2px 0px;
	border-bottom: 1px solid #FcFcFc;
	width:100%;
	float:left;
}
#list ul li a, #list ul li a:link, #list ul li a:visited {
	color:#666;
	text-decoration:none;
}
#list img.selected {
	margin: 5px;
	padding: 5px;
	width:170px;
	height:170px;
	float:left;
	margin:auto;
	border:none;
	background:url(../images/bg_covers.png) no-repeat;
}/*FOOTER*/
#footer {
	position:absolute;
	width:100%;
	height:1px;
	bottom:0px;
	background:black;
	z-index:5px;
}
#hoverr {
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	bottom:0;
	right:0;
	z-index:0;
}


#map {
	
  	margin: 0 auto;
  	background-color: #FFF;
  	padding: 20px 40px;
  	border: solid 1px black;
  	margin-top: 50px;
	height:600px;
	width:800px;
}
