<h1>Bienvenue sur Suismoi le site qui vous permet de suivre vos amis quand ceux-ci le désirent</h1>

<%= form_tag(url_for(:controller=>"lieus",:action=>"check"), :method => "get") do %>
  <%= label_tag(:q, "Code:") %>
  <%= text_field_tag(:code) %>
  <%= submit_tag("Entrer") %>
<% end %>
