

<div id="full" class="" >
<div id="log_container" class="" >


<div class="logbox">
  <h2>Entrer le Code de la personne à suivre</h2>

<%= form_tag(url_for(:controller=>"lieus",:action=>"check"), :method => "get", :id=>"pass", :class=>"form-password") do %>
  <%= text_field_tag(:code) %>
  <%= submit_tag("Entrer") %>
<% end %>
</div>

</div>
</div>