<b> Bonjour </b>
<p> tu peux suivre mon trajet sur http://suismoi.heroku.com en entrant le code suivant : <%=@code%></p>
<p> ou si tu preferes en cliquant directement sur ce lien <a href="http://suismoi.heroku.com/lieus/check?code=<%=@code%>">Suis Moi</a> </p>